<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p">


    <bean id="bean" class="spring.db.Bean"/>

    <bean id="bean2" class="spring.db.factory.Bean2Factory" factory-method="getBean2"/>
    <bean id="anthorBean" class="spring.db.AnthorBean"/>

  <!--  <bean id="beanDemo" class="spring.db.BeanDemo">
        <constructor-arg index="0" name="name" type="java.lang.String" value="aaaa"></constructor-arg>
        &lt;!&ndash;填充参数 index代表构造方法中的第几个参数，name代表参数名 values使用与简单的数据类型，ref使用现在，ref 需要beanid&ndash;&gt;
        <constructor-arg index="1" name="anthorBean" type="spring.db.AnthorBean" ref="anthorBean"></constructor-arg>

    </bean>-->


    <bean id="beanDemo" class="spring.db.BeanDemo" c:_0="">

    </bean>

</beans>